version: '2.0'
services:

    rocketchat:
     image: rocketchat/rocket.chat:{{ rocket_chat_version }}
     container_name: rocketchat
     restart: unless-stopped
     command: >
      bash -c
        "for i in `seq 1 30`; do
          INSTANCE_IP=$$(hostname -i) node main.js &&
          s=$$? && break || s=$$?;
          echo \"Tried $$i times. Waiting 5 secs...\";
          sleep 5;
        done; (exit $$s)"

     volumes:
      - {{ root_path }}/rocket/data/uploads:/app/uploads
      - /tmp:/tmp
     environment:
      - PORT=3000
      - ROOT_URL={{ rocket_chat_root_url }}
      - MONGO_URL=mongodb://mongo:27017/rocketchat
      - MONGO_OPLOG_URL=mongodb://mongo:27017/local
      - SETTINGS_BLOCKED=Prometheus_Enabled,Prometheus_Port
      - Prometheus_Enabled=true
      - Prometheus_Port=9458
     ports:
      - "3000:3000"
     depends_on:
      - mongo

    mongo:
     container_name: mongo
     image: mongo:4.0
     restart: unless-stopped
     command: mongod --smallfiles --oplogSize 128 --replSet rs0 
     #--wiredTigerCacheSizeGB=0.25
     #mem_limit: 500M
     volumes:
       - {{ root_path }}/data/db:/data/db
       - {{ backup_root }}:/dump

    mongo-init-replica:
     image: mongo:4.0

     command: >
       bash -c
         "for i in `seq 1 30`; do
           mongo mongo/rocketchat --eval \"
             rs.initiate({
              _id: 'rs0',
               members: [ { _id: 0, host: 'localhost:27017' } ]})\" &&
           s=$$? && break || s=$$?;
           echo \"Tried $$i times. Waiting 5 secs...\";
           sleep 5;
         done; (exit $$s)"

     depends_on:
       - mongo